################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HD_MultiQueue/v15/Browse.VC.db
